* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
}

#snail {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#snail path {
    stroke-dasharray: 1520; /* # of slices on outline  */
    stroke-dashoffset: 0; /* to push that path path arounds  */
}
